

<h2>Agregar</h2>

<form method="post">

    <label type="Text">Clave: </label>
    <input id="txtClave" type="text" name="clave" />
    <br /><br />
    <label type="Text">Segundo número: </label>
    <input id="txtClave" type="text" name="nombre" /> <br />

    <input id="btnAgregar" type="submit" value="Agregar" name="Agregar" class="btn btn-outline-info" />
  
</form>

